body{
    font-family: 'Roboto', sans-serif;
    text-decoration-color: var(--main-text-color);
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
:root{
    --typical-lh: 1.5;
    --accent-color: #4D5AE5;
    --main-text-color:  #2E2F42;
    --second-text-color: #434455;
}

/*-------------HEADER-------------*/

.header {
}
.header-navigation {
}
.header-list {
}
.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
     letter-spacing: 0.02em;
    color: var(--main-text-color, #2E2F42;);
}
.header-link { 
    font-weight: 800;
    font-size: 18px;
    line-height: var(--typical-lh);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color, #2E2F42;);
}
.header-link > span{
    color: var(--accent-color, #4D5AE5);
}
.header-link:is(:hover, :focus)
{
    color: #404BBF;
}
.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--second-text-color, #434455);
}

/*-------------SLOGAN-------------*/

.slogan {
    background: #2E2F42;
}
.slogan-title {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.slogan-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background: var(--accent-color, #4D5AE5);
}

/*-------------ABOUT-------------*/

.about {
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.about-list {
}
.about-item {
}
.about-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--main-text-color, #2E2F42);
  }
.about-item-text {
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--second-text-color, #434455);
}

/*-------------PORTFOLIO-------------*/

.portfolio {
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color, #2E2F42);
}
.portfolio-list {
}
.portfolio-item {
}

/*-------------TEAM-------------*/

.team {
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color,  #2E2F42);
}
.team-list {
}
.team-item {
}
.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color,  #2E2F42);
}
.team-item-text {
    font-size: 16px;
    line-height: var(--typical-lh);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-text-color, #434455);

}
/*-------------FOOTER-------------*/

.footer {
    background: #2E2F42;
}
.footer-link {
    font-weight: 800;
    font-size: 18px;
    line-height: var(--typical-lh);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-link > span {
    color: var(--accent-color, #4D5AE5);
}
.footer-desc {
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: #E7E9FC;
    }
.footer-link:is(:hover, :focus){
    color: #404BBF;
}

/*-------------FILTERS-------------*/

.filters {
}
.filters-navigation {
}
.filters-list {
}
.filters-item {
}
.filters-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}
.filters-btn:is(:hover, :focus)
{
    color: #FFFFFF;
    background: #404BBF;
}

/*-------------PROJECTS-------------*/

.projects {
}
.projects-list {
}
.projects-item {
}
.projects-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--main-text-color, #2E2F42);
}
.projects-item-text {
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: #434455;
}
